#shit_phrase {
  border: none;
  background-image: url('/assets/post_field.jpg');
  width:439px;
  height:52px;
  padding-left:20px;
  padding-right:130px;
  font-size: 16px;
  color: #afa9a9;
}

#post_btn {
  position: absolute;
  right: 224px;
  top: 119px;
}

#post_plus {
  position: absolute;
  right: 295px;
  top: 119px;
  cursor:pointer;
}

#shits {
  position: relative;
  left: 155px;
  top: 20px;
}

#shits ul {
  padding:0; 
  margin:0;
  text-decoration:none;
}

.friend {
  font-family:Helvetica, Arial, Verdana;
  position:relative;
  list-style-type:none;
  width:355px;
  height:148px;
  cursor: pointer;
  text-align: left;
  float:left;
}

.friend:hover {
  list-style-type:none;
  background-image: url('/assets/hover_shit.jpg');
}

.friends_photo {
  position: absolute;
  top: 13px;
  left: 13px;
  width:120px;
  height:122px;
}

.friends_photo img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #4b2f28;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

.friends_phrase {
  font-size:13px;
  position: absolute;
  left:138px;
  padding:10px;
}

.phrase {
  color:#4b3028;
}

.friends_name {
  color:#955b14;
}

.friends_share {
  position: absolute;
  left:300px;
  top:90px;
}

.friends_info {
  position: absolute;
  right:10px;
  top:120px;
  font-size:11px;
  color: #808080;
}

#more_fun {
  width:729px;
  height:49px;
  margin: 0 auto;
  position: relative;
  top: 35px;
}

#post_plus_tool_tip {
  filter: alpha(opacity=0); /* internet explorer */
  -khtml-opacity: 0;      /* khtml, old safari */
  -moz-opacity: 0;       /* mozilla, netscape */
  opacity: 0;           /* fx, safari, opera */
  position:absolute;
  right:270px;
  top:-140px;
  z-index:10;
  background-image: url('/assets/tool_tip_01.png');
  width:222px;
  height:175px;
  padding-top:32px;
}

#friend_name {
  border: none;
  background-color: #4c2f29;
  background-image: url('/assets/first_name_field.png');
  width:160px;
  height:39px;
  margin-top: 10px;
  font-size: 14px;
  color: #afa9a9; 
  padding-left: 10px;
  padding-right: 10px;
}

#or_tool_tip {
  margin-top:10px;
}

#fb_post_plus_tool_tip {
  filter: alpha(opacity=1); /* internet explorer */
  -khtml-opacity: 1;      /* khtml, old safari */
  -moz-opacity: 1;       /* mozilla, netscape */
  opacity: 1;           /* fx, safari, opera */
  background-image: url('/assets/tool_tip_02.png');
  width:455px;
  height:387px;
  position:absolute;
  right:270px;
  top:155px;
  z-index:10;
  padding-top: 35px;
}

#find_friend_name {
  border: none;
  background: url('/assets/facebook_search_field.png');
  background-color: none;
  width:319px;
  height:44px;
  padding-left:15px;
  padding-right:85px;
  font-size: 16px;
  color: #afa9a9;
}

#buscar_btn {
  position: absolute;
  right: 21px;
  top: 39px; 
  cursor:pointer;
}